.c-site-header {
  background: color(bleu-de-france);
  color: rgba(255, 255, 255, 0.85);

  a,
  a:visited {
    color: rgba(255, 255, 255, 0.85);
  }
}

.wrap--header {
  .c-canvas-toggle {
    @include bp("med+1") {
      display: none;
    }
  }

  .c-nav {
    @include bp(max "med+1") {
      display: none;
    }
  }
}

.c-nav {
  @include ff(primary);
  font-size: 0.875em;

  a {
    padding: 0 0.5em;
  }
}

.i-menu {
  height: rhythm(1);
  width: rhythm(1);
}

.c-canvas__on-canvas {
  background: color(patterns-blue);
}
