.c-site-header {
  background: radial-gradient(circle, lighten(color(bleu-de-france), 10%), color(bleu-de-france));
  color: rgba(255, 255, 255, 0.85);
  font-weight: 100;

  a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
  }

  a:hover {
    color: white;
  }
}

.c-site-header--main {
  @extend .c-site-header;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  text-shadow: 1px 1px 0 #000;
}

.wrap--header {
  .c-canvas-toggle {
    margin: rhythm(1) 0;
    // Strangely not centering, hence fixing with flex start instead
    align-self: flex-start;

    @include bp(850px) {
      display: none;
    }
  }

  .c-nav {
    margin-top: rhythm(1);
    margin-bottom: rhythm(1);
    @include bp(max 850px) {
      display: none;
    }
  }
}

.c-nav {
  @include ff(primary);
  font-size: 1em;

  a {
    padding: 0 0.8em;
  }

  a.o-btn {
    margin: 0;
    padding: 0.75em 1.5em;
  }

  a.active {
    color: white;
  }
}

.i-menu {
  height: rhythm(1);
  width: rhythm(1);
}

.c-site-header .flex {
  justify-content: space-between;
  align-content: center;
}

