// Layouts
// =======

.wrap {
  @include container;
  padding-left: rhythm(0.5);
  padding-right: rhythm(0.5);

  @include bp(med) {
    padding-left: rhythm(1.5);
    padding-right: rhythm(1.5);
  }
}

.wrap--header {
  @extend .wrap;
  max-width: 1240px;
}

.wrap--events-header {
  @extend .wrap;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.l-content {
  margin-top: rhythm(2);
}

// Events Layout
.l-dates,
.l-company-and-jobs {
  display: flex;
  align-items: stretch;
  padding-top: gutter();
  padding-bottom: gutter();

  @include bp("med+1") {
    margin-top: gutter();
    padding-top: 0;
    padding-bottom: 0;
  }
}

.l-content .wrap:first-child .l-dates {
  padding-top: 0;
}

.l-date{
  text-align: center;

  @include bp("med+1") {
    text-align: left;
  }
}

.l-events {
  width: calc(100% - #{rhythm(3)});
  margin-left: #{rhythm(3)};
  padding-left: span(1);

  @include bp(max "med+1") {
    margin-top: rhythm(-1);
  }

  @include bp("med+1") {
    display: flex;
    flex-wrap: wrap;
  }
}

.l-event {
  @include bp(max "med+1") {
    margin-top: rhythm(1);
  }

  @include bp("med+1") {
    width: span(7 of 14);
    margin-right: gutter(14);
    overflow: hidden;

    + & {
      margin-top: 0;
    }

    &:nth-child(2n+2) {
      margin-right: 0;
    }

    &:nth-child(n+3) {
      margin-top: gutter(14);
    }
  }
}

// Hotel Layout
// ------------

.l-hotel {
  @include bp("med+1") {
    @include gallery(5);
  }

  .widSSP {
    width: auto !important;
  }
}