// Form and social
@keyframes formsup {
  0%, 70% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

form {
  animation: formsup 3s ease-out;
}

.social {
  animation: formsup 4s ease-out;
}

@keyframes socialup {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.social.form-show {
  animation: formsup 0.5s ease-out;
}

// .c-nav {
//   text-align: center;

//   @include bp(max 350px) {
//     a + a {
//       display: inline-block;
//       margin-top: rhythm(0.5) !important;
//       margin-bottom: rhythm(0.5);
//     }
//   }
// }

.c-interrupt-2 {
  @extend .c-interrupt;

  background: #eee;
  color: black;
  margin-bottom: 0;

  h3 {
    margin-top: rhythm(3);
  }

  p {
    color: black;
    font-size: 14px;
  }
}

// Footer
// ------------

.c-interrupt-2 + .site-footer {
  margin-top: auto;
}

.site-footer {
  font-weight: 100;
  margin-top: rhythm(3);
  padding: 1px 0 rhythm(4);
  background: radial-gradient(circle, mix(black, color(bleu-de-france), 65%), mix(black, color(bleu-de-france), 80%));
  color: rgba(white, 0.5);
  text-align: center;

  h4 {
    font-weight: 100;
  }

  .c-logo--hero {
    margin-top: rhythm(4);
    margin-bottom: rhythm(2);
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      color: white;

      // text-decoration: none;
   
    }
  }
}

.c-creds__sigs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);

  a {
    padding: rhythm(1) rhythm(1);
  }

  img {
    max-height: rhythm(2);
    width: auto;
  }

  img.zell {
    max-height: rhythm(1.4)
  }

  span {
    @include is-invisible;
  }
}

.nerdherd {
  // margin-top: rhythm(1);
  font-size: 13px;
}

.c-designed {
  font-size: 13px;
  margin-top: 1em;
  font-weight: 400;
}

// New stuff

.c-new {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 4px dashed #ddd;
  border-radius: 6px;
  font-weight: bold;
  color: #ddd;
  transition: all 0.15s ease-out;

  span + span {
    margin-left: rhythm(0.5);

    @include bp(med) {
      @include gallery(4 of 12);

      margin-top: rhythm(2);
    }
  }

  .c-new__plus {
    font-size: ms(3);
  }

  .c-new:hover {
    transition: none;
    border-color: color(carmine);

    span {
      transition: none;
      color: color(carmine);
    }
  }
}

// hangouts

.c-hangouts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-hangout {
  flex: 1 0 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  margin: rhythm(0.5);
  padding: rhythm(1);
  border: 1px solid #eaeaea;
  border-radius: 3px;

  img {
    max-height: 63px;
    width: auto;
    margin-bottom: rhythm(0.5);
  }

  span {
    flex: 1 0 100%;
  }
}

.c-chats,
.c-conferences {
  @extend .c-hangouts;
}

.c-chat,
.c-conference {
  @extend .c-hangout;
}

.c-workspaces {
  display: flex;
  flex-wrap: wrap;
  margin-top: rhythm(3);
  margin-bottom: rhythm(-3);
}

.c-workspace {
  position: relative;
  flex-basis: 100%;
  padding-bottom: 56.25%;

  @include bp(med) {
    flex-basis: percentage(1 / 3);
    flex-grow: 1;
    padding-bottom: 18.75%; // ((100/3) * 9/16)
  }


  a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-size: cover;
    color: white;

    &:hover,
    &:active,
    &:focus {
      color: white;
    }
  }

  h2 {
    color: white;
    margin: 0;
    padding: rhythm(1);
    text-shadow: 0 0 1px #000;

    @include bp(large) {
      font-size: ms(2);
    }
  }
}

.c-conference {
  @include bp(450px) {
    flex: 1 0 400px;
  }


  padding: rhythm(2);

  img {
    max-height: 100px;
    margin-bottom: rhythm(1);
  }

  span {
    font-weight: bold;
  }
}

// Community Site CSS
.community {
  section {
    padding-bottom: rhythm(3);
  }

  section + section {
    padding-top: rhythm(3);
  }

  section:first-child {
    .c-community-intro {
      margin-top: rhythm(3);
    }

    // &:after {
    //   content: "";
    //   display: block;
    //   max-width: rhythm(12);
    //   height: 1px;
    //   margin-top: rhythm(1.5);
    //   margin-right: auto;
    //   margin-left: auto;
    //   background: #ccc;
    // }
 
  }

  section:nth-child(2n+3) {
    padding-top: rhythm(3);
    padding-bottom: rhythm(3);
    background: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    &:last-child {
      margin-bottom: rhythm(-3);
    }
  }
}

.c-community-intro {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: rhythm(0.5);

  article {
    display: flex;
    flex-wrap: wrap;
  }
}

.c-community__ways {
  margin-top: rhythm(2);
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

article {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.l-content {
  margin-bottom: rhythm(2);
}

.c-toc {
  ol {
    margin-left: auto;
    padding-left: 0;

    li {
      @include bp(max "med") {
        list-style-position: inside;
      }
    }
  }

  li + li > h2 {
    margin-top: rhythm(2);
  }

  dt {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  dd > ul {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}