// Form and social
@keyframes formsup {
  0%, 70% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

form {
  animation: formsup 3s ease-out;
}

.social {
  animation: formsup 4s ease-out;
}

@keyframes socialup {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.social.form-show {
  animation: formsup 0.5s ease-out;
}

.c-interrupt-2 {
  @extend .c-interrupt;

  background: #eee;
  color: black;
  margin-bottom: 0;

  h3 {
    margin-top: rhythm(3);
  }

  p {
    color: black;
    font-size: 14px;
  }
}

// Footer
// ------------

.c-interrupt-2 + .site-footer {
  margin-top: auto;
}

.site-footer {
  font-weight: 100;
  margin-top: rhythm(3);
  padding: 1px 0 rhythm(4);
  background: radial-gradient(circle, mix(black, color(bleu-de-france), 65%), mix(black, color(bleu-de-france), 80%));
  color: rgba(white, 0.5);
  text-align: center;

  h4 {
    font-weight: 100;
  }

  .c-logo--hero {
    margin-top: rhythm(4);
    margin-bottom: rhythm(1);
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      color: white;

      // text-decoration: none;
   
    }
  }
}

.c-creds__sigs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);

  a {
    padding: rhythm(1) rhythm(1);
  }

  img {
    max-height: rhythm(2);
    width: auto;
  }

  img.zell {
    max-height: rhythm(1.4);
  }

  span {
    @include is-invisible;
  }
}

.nerdherd {
  // margin-top: rhythm(1);
  font-size: 13px;
}

.c-designed {
  font-size: 13px;
  margin-top: 1em;
  font-weight: 400;
}

// hangouts

.c-hangouts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-hangout {
  flex: 1 0 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  margin: rhythm(0.5);
  padding: rhythm(1);
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(black, 0.1);

  img {
    max-height: 63px;
    width: auto;
    margin-bottom: rhythm(0.5);
  }

  span {
    flex: 1 0 100%;
  }
}

.c-chats,
.c-conferences {
  @extend .c-hangouts;
}

.c-chat,
.c-conference {
  @extend .c-hangout;
}

.c-conference {
  position: relative;
}

.c-devfest-featured--conference {
  @extend .c-devfest-featured;

  top: 0;
  bottom: 0;
  margin: auto;
  height: rhythm(7);

  @include bp(max med) {
    top: 0;
    right: 0;
    bottom: auto;
  }
}

.c-workspaces {
  display: flex;
  flex-wrap: wrap;
  margin-top: rhythm(3);
  margin-bottom: rhythm(-3);

  a {
    text-decoration: none;
  }
}

.c-workspace {
  position: relative;
  flex-basis: 100%;
  padding-bottom: 56.25%;

  @include bp(med) {
    flex-basis: percentage(1 / 3);
    flex-grow: 1;
    padding-bottom: 18.75%; // ((100/3) * 9/16)
  }


  a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-size: cover;
    color: white;

    &:hover,
    &:active,
    &:focus {
      color: white;
    }
  }

  h2 {
    color: white;
    margin: 0;
    padding: rhythm(1);
    text-shadow: 0 0 1px #000, 0 5px 40px rgba(0, 0, 0, 0.6);

    @include bp(large) {
      font-size: ms(2);
    }
  }
}

.c-conference {
  @include bp(450px) {
    flex: 1 0 400px;
  }


  padding: rhythm(2);

  img {
    max-height: 100px;
    margin-bottom: rhythm(1);
  }

  span {
    font-weight: bold;
  }
}

// Community Site CSS
.community {
  section {
    padding-bottom: rhythm(3);
  }

  section + section {
    padding-top: rhythm(3);
  }

  section:first-child {
    .c-community-intro {
      margin-top: rhythm(3);
    }

    // &:after {
    //   content: "";
    //   display: block;
    //   max-width: rhythm(12);
    //   height: 1px;
    //   margin-top: rhythm(1.5);
    //   margin-right: auto;
    //   margin-left: auto;
    //   background: #ccc;
    // }
 
  }

  section:nth-child(2n+3) {
    padding-top: rhythm(3);
    padding-bottom: rhythm(3);
    background: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    &:last-child {
      margin-bottom: rhythm(-3);
    }
  }
}

.c-community-intro {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: rhythm(0.5);

  article {
    display: flex;
    flex-wrap: wrap;
  }
}

.c-community__ways {
  margin-top: rhythm(2);
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

article {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.l-content {
  margin-bottom: rhythm(2);
}

.c-toc {
  ol {
    margin-left: auto;
    padding-left: 0;

    li {
      @include bp(max "med") {
        list-style-position: inside;
      }
    }
  }

  li + li > h2 {
    margin-top: rhythm(2);
  }

  dt {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  dd > ul {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.c-sponsors-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: rhythm(1);

  // margin-bottom: rhythm(-3);

  a {
    text-decoration: none;
  }
}

.c-sponsors-grid__item {
  position: relative;
  flex-basis: 100%;
  padding-bottom: 56.25%;

  @include bp(large) {
    // flex-basis: percentage(1 / 3);
    flex-basis: percentage(1 / 2);
    flex-grow: 1;

    // padding-bottom: 18.75%; // ((100/3) * 9/16)
    padding-bottom: percentage(1 / 2 * 9 / 16);
  }


  .c-sponsor__item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-size: cover;
    color: white;

    &:hover,
    &:active,
    &:focus {
      color: white;
    }
  }

  img {
    margin-right: rhythm(1.5);
    padding: rhythm(1);

    // height: rhythm(2);
    width: auto;
    background: white;
    color: white;
    transform: scale(0.8, 0.8);
    transform-origin: bottom right;
  }
}

.ticket-info {
  font-size: 12px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

// Sold out
.c-interrupt {
  position: relative;

  .wrap {}

  .sold-out {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    @include bp(600px) {
      left: rhythm(-15);
      right: 0;
    }


    img {
      max-height: 100%;
    }

    .sold-out__img {
      @include bp(600px) {
        display: none;
      }
    }

    .sold-out__img--large {
      display: none;

      @include bp(600px) {
        display: inline-block;
      }
    }
  }
}