.c-events-header {
  line-height: 1;
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
  background: color(malibu);
  overflow-x: scroll;
  &.is-fixed {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);    
  }
}

.c-events-nav {
  width: 760px;
  margin-left: auto;
  margin-right: auto;

  a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 0.5em;
    font-size: ms(1);
    text-align: center;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .c-events-nav__weekend {
    color: rgba(0, 0, 0, 0.3);
  }

  .c-events-nav__day {
    display: block;
    text-transform: uppercase;
    font-size: ms(-2);
  }

  .c-events-nav__date {
    display: block;
  }
}

.c-tickets {
  text-align: center;
}

.c-jobs {
  @include cf;
}

.c-job {
  margin-top: rhythm(1);

  @include bp(med) {
    @include gallery(4 of 12);
    margin-top: rhythm(2);
  }
}