// Form and social
@keyframes formsup {
  0%, 70% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


form {
  animation: formsup 3s ease-out;
}

.social {
  animation: formsup 4s ease-out;
}

@keyframes socialup {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.social.form-show {
  animation: formsup 0.5s ease-out;
}

// .c-nav {
//   text-align: center;

//   @include bp(max 350px) {
//     a + a {
//       display: inline-block;
//       margin-top: rhythm(0.5) !important;
//       margin-bottom: rhythm(0.5);
//     }
//   }
// }

.c-interrupt-2 {
  @extend .c-interrupt;
  background: #eee;
  color: black;
  margin-bottom: 0;

  h3 {
    margin-top: rhythm(3);
  }

  p {
    color: black;
    font-size: 14px;
  }
}

// Footer
// ------------

.c-interrupt-2 + .site-footer {
  margin-top: auto;
}

.site-footer {
  margin-top: rhythm(3);
  padding: 1px 0 rhythm(4);
  background: radial-gradient(circle, mix(black, color(bleu-de-france), 65%), mix(black, color(bleu-de-france), 80%));
  color: rgba(white, 0.5);
  text-align: center;

  .c-logo--hero {
    margin-top: rhythm(4);
    margin-bottom: rhythm(2);
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      color: white;
      // text-decoration: none;

    }
  }
}

.nerdherd {
  margin-top: rhythm(1);
}

.c-designed {
  margin-top: rhythm(2);
}

// New stuff

.c-new {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 4px dashed #ddd;
  border-radius: 6px;
  font-weight: bold;
  color: #ddd;
  transition: all 0.15s ease-out;

  span + span {
    margin-left: rhythm(0.5);
  }
}

.c-new__plus {
  font-size: ms(3);
}

.c-new:hover {
  transition: none;
  border-color: color(carmine);

  span {
    transition: none;
    color: color(carmine);
  }
}

// hangouts

.c-hangouts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-hangout {
  flex: 1 0 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  margin: rhythm(0.5);
  padding: rhythm(1);
  border: 1px solid #eaeaea;
  border-radius: 3px;

  img {
    max-height: 63px;
    width: auto;
    margin-bottom: rhythm(0.5);
  }

  span {
    flex: 1 0 100%;
  }
}

.c-chats,
.c-conferences,
.c-workspaces {
  @extend .c-hangouts;
}

.c-chat,
.c-conference,
.c-workspace {
  @extend .c-hangout;
}

.c-workspace {
  flex: 1 0 300px;
}

.c-conference {
  @include bp(450px) {
    flex: 1 0 400px;

  }
  padding: rhythm(2);

  img {
    max-height: 100px;
    margin-bottom: rhythm(1);
  }

  span {
    font-weight: bold;
  }
}

// Community Site CSS
.community {
  section + section {
    margin-top: rhythm(3);
  }

  section:nth-child(2n+3) {
    padding-top: rhythm(3);
    padding-bottom: rhythm(3);
    background: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}

.c-community-intro {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: rhythm(0.5);
}