.c-date {
  font-family: 'Open Sans Condensed';
  color: white;

  .c-date__cal {
    display: inline-block;
    padding: rhythm(0.5);
    background: color(malibu);
  }

  .day {
    font-size: ms(2);
    font-weight: bold;
    @include adjust-leading-to(1.5);
  }
}

.c-event {
  background: white;
  border: 1px solid #eee;

  @include bp("med+1") {
    border-radius: 6px;
    box-shadow: 0 1px 0px 0px rgba(black, 0.1);
  }
}

.c-event__image {
  position: relative;
  background-position: center center;
  background-size: cover;
  height: 0;
  padding-bottom: 56.25%;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: rhythm(0.5);
    width: 100%;
    background: color(malibu);
  }
}

.c-event__content {
  padding: rhythm(0.5) rhythm(1);
  @include cf;
}

.c-event__title {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  margin-top: rhythm(0.25);
  margin-bottom: rhythm(0.75);
}

.c-event__desc {
  @include bp("large") {
    @include span(5 of 7);
  }
}

.c-event__aside {
  .o-btn {
    display: block;
    text-align: center;
    margin-top: rhythm(0.5);
  }

  @include bp("large") {
    @include span(2 of 7 last);

    .o-btn {
      display: inline-block;
      margin-top: rhythm(0.25);
    }
  }
}

.c-event__time {
  margin-top: rhythm(1);
}

.c-event__location {
  display: block;
  margin-top: rhythm(0.25);
}

.i-location {
  vertical-align: middle;
  display: inline-block;
  width: rhythm(1);
  margin-right: 0.25em;
}

// interrupt div
.c-interrupt {
  text-align: center;
  display: block;
  background: #fafafa;
  margin-top: rhythm(1);
  margin-bottom: rhythm(1);
  padding-top: rhythm(2);
  padding-bottom: rhythm(2);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  @include bp("med+1") {
    margin-top: rhythm(3);
    margin-bottom: rhythm(3);
  }
}