
.c-dates {
  @include container;
  @extend .wrap;
  margin-top: gutter();
  margin-bottom: gutter();

  @include bp("med+1") {
    margin-top: gutter() * 0.5;
    margin-bottom: 0;
  }
}

.c-date {
  text-align: center;

  @include bp("med+1") {
    text-align: left;
    @include span(2);
  }

  .day {
    display: inline-block;
    font-size: ms(2);
    font-weight: bold;
    @include adjust-leading-to(1.5);
    margin-top: rhythm(1);
    margin-bottom: rhythm(1);

    @include bp("med+1") {
      display: block;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .weekday {
    display: inline-block;

    @include bp("med+1") {
      display: block;
    }
  }
}

.c-events {
  @include bp(max "med+1") {
    margin-top: rhythm(-1);
  }

  @include bp("med+1") {
    @include span(10 last);
    display: flex;
    flex-wrap: wrap;
  }
}

.c-event {
  @include bp(max "med+1") {
    margin-top: rhythm(1);
  }

  @include bp("med+1") {
    width: span(5 of 10);
    padding: 0 (gutter(10) * 0.5);

    + & {
      margin-top: 0;
    }

    &:nth-child(n+3) {
      margin-top: gutter(10);
    }
  }
}

.c-event__title {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
}

.c-event__desc {
  float: left;
  width: 65%;
  font-size: ms(0);
}

.c-event__aside {
  float: right;
  width: 35%;
}

.c-event__time {
  margin-top: rhythm(1);
}

.i-location {
  vertical-align: middle;
  display: inline-block;
  width: rhythm(1);
  margin-right: 0.25em;
}

.c-event__cta {
  text-align: center;
}

// interrupt div
.c-interrupt {
  text-align: center;
  display: block;
  background: #fafafa;
  margin-top: rhythm(1);
  margin-bottom: rhythm(1);
  padding-top: rhythm(2);
  padding-bottom: rhythm(2);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  @include bp("med+1") {
    margin-top: rhythm(3);
    margin-bottom: rhythm(3);
  }
}