// hero
.c-hero {
  display: flex;
  position: relative;
  z-index: 1;
  padding-top: rhythm(4);
  padding-bottom: rhythm(4);
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  //text-shadow: 0 2px 1px #000;

  .wrap {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    animation: gradientup 2s ease-out;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
    z-index: -0;
  }

  .c-logo--hero {
    margin-bottom: 4em;
  }
}

@keyframes gradientup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


// intro
.c-hero__intro {
  button {
    margin-top: rhythm(1);
  }

  button + div {
    color: rgba(255, 255, 255, 0.6);
  }
}

.c-hero__subtitle {
  max-width: 450px;
  line-height: 1.3em;
  margin-bottom: rhythm(0.5);
  animation: subtitle 2s ease-out;
}

@keyframes subtitle {
  0%, 50% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.c-hero__description {
  animation: herodesc 2.5s ease-out;
}

@keyframes herodesc {
  0%, 50% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


// sponsors
.c-hero__sponsors {
  margin-top: rhythm(2);
}