.social {
  display: block;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: rhythm(1);

  a {
    font-size: 13px;
    display: inline-block;
    color: mix(black, white, 20%);
    font-weight: 100;
  }
}

.social__icon {
  display: inline-block;

  & + & {
    margin-left: 12px;
  }
}