// Sponsors
.c-sponsors {
  display: flex;
  justify-content: center;

  h1, h2, h3, p, div {
    text-align: center;
  }

  h2, h3 {
    margin-top: rhythm(2);
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: rhythm(0.75) rhythm(1);
    background: white;
    margin-top: rhythm(1);
    margin-bottom: rhythm(1);
  }
}