// Sponsors
.c-sponsors {
  display: flex;
  justify-content: center;

  h1, h2, h3, p, div {
    text-align: center;
  }

  h2, h3 {
    margin-top: rhythm(2);
  }

  p {
    margin-top: rhythm(2);
  }
}