
// Colors
// ======
// For project colors. 
//
// Approach: 
// ---------
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://chir.ag/projects/name-that-color/
//
// Usage:
// ------
// .test {
//   background-color: color(shamrock);
// }
//
// OPTIONAL:
// --------
// Sublime gutter: https://sublime.wbond.net/packages/Gutter%20Color 
// See the colors you used in the gutter (Awesome if you use sublime text)
// ==========

$colors: (
  grandis: #fdd387,
  hoki: #607D8B, 
  charcoal: #37474F,
  shadow-green: #9ecdc0,
  froly: #ed706f,
  revolver: #20172c,
  malibu: #68b6f3,
  bleu-de-france: #288ae2,
  patterns-blue: #e3f2fc,
  carmine: #e74840,
  );

