
// Typography
// ----------
// For all Typography related values. 
// Uses Compass Vertical Rhythms. 
// ==========

// Compass Vertical Rhythms Settings
// ---------------------------------
$base-font-size: 16px;
$base-line-height: 21px;
$round-to-nearest-half-line: true;

// Uses the `rem` unit for all vertical rhythm output
$rhythm-unit: "rem";
$ms-ratio: 1.333333333333;

// Font Families
// ------------
$font-families: (
  primary: ('Lato', sans-serif),
  secondary: ('Sue Ellen Francisco', cursive),
  code: ('Menlo', 'Monaco', 'Consolas', monospace)
  );

// Font Weights
// ------------
$font-weights : (
  primary: (
    light: 300 ,
    normal: 400,
    bold: 700
    ), 
  secondary: (
    light: 300 ,
    normal: 400,
    bold: 700
    )
  );

// Type Sizes
// ----------
// Sets font sizes and line height. 
// Adapted from https://medium.com/p/8e51498c3713 
// See mixin type-scale for more info
//
// - requires compass vertical rhythm (included by default)
// ==========

// Type Scale
$type-scale: (
  h1: (
    font-size: 39.063px,
    base-lines: 1.75
    ),
  h2: (
    font-size: 31.25px,
    base-lines: 1.5
    ),
  h3: (
    font-size: 25px,
    base-lines: 1.25
    ),
  h4: (
    font-size: 20px,
    base-lines: 1
    ),
  h5: (
    font-size: 12.8px,
    base-lines: 0.75
    ),
  h6: (
    font-size: 10.24px,
    base-lines: 0.5
    ),
  base: (
   font-size: $base-font-size,
   base-lines: 1
   ),
  );
