.o-btn {
  display: inline-block;
  margin-top: rhythm(1);
  padding: 0.75em 1.5em;
  background: #E74840;
  color: white;
  font-family: 'Open Sans Condensed';
  font-size: 1rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0,0,0,.4);
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
  transition: all 0.15s ease;
  text-transform: uppercase;

  &:visited {
    color: rgba(white, 0.7);
  }

  &:hover,
  &:active,
  &:focus {
    background: lighten(#E74840, 10%);
    color: white;
  }
}

.o-btn--highlight {
  @extend .o-btn;
  background: color(froly);
  color: rgba(white, 0.85);

  &:hover,
  &:active,
  &:focus {
    background: color(charcoal);
    color: white;
  }
}
