.o-btn {
  display: inline-block;
  margin-top: rhythm(1);
  padding: 0.75em 1.5em;
  border-radius: 6px;
  background: color(hoki);
  color: rgba(white, 0.7);
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  font-weight: normal;
  transition: all 0.15s ease;
  text-transform: uppercase;

  &:visited {
    color: rgba(white, 0.7);
  }

  &:hover,
  &:active,
  &:focus {
    background: color(charcoal);
    color: white;
  }
}

.o-btn--highlight {
  @extend .o-btn;
  background: color(froly);
  color: rgba(white, 0.85);

  &:hover,
  &:active,
  &:focus {
    background: color(charcoal);
    color: white;
  }
}