// Typography
// ---------------
// Sets typography for all of document
// ===============
//
html {
  @include ff(primary);
  // font-weight: 300;
}

body {
  // Optmizes font rendering for legibility.
  // May break with some browsers, comment out as necessary.
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

h1 {
  font-size: ms(3);
  font-weight: normal;
  line-height: rhythm(3);
  margin-bottom: rhythm(0.5);
}

h2 {
  font-weight: 400;

  @include bp(med) {
    font-size: ms(2);
    @include adjust-leading-to(2);
  }
}

h3 {
  font-size: ms(1);
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

strong {
  @include fw(bold);
}

em {
  font-style: italic;
}

pre {
  white-space: pre;
}

.o-cursive {
  @include ff(secondary);
}

.o-italic {
  @include ff(secondary);
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

a {
  text-decoration: none;
  color: color(charcoal);

  &:hover,
  &:active,
  &:focus {
    color: color(froly);
  }
}

p {
  line-height: 1.4;
}