 <div class="site-footer">

  <div class="c-logo--hero">
    <div class="o-cursive c-logo__singapore">Singapore</div>
    <div class="o-cursive c-logo__devfest">Devfest.Asia</div>
    <div class="o-cursive c-logo__2015">2015</div>
  </div>  

  <div class="c-creds">
    <h4>Devfest Asia is proudly brought to you by</h4>

    <p>
      <a href="#">
        Thomas
        <img src="" alt="">
      </a>
      <a href="#">
        Zell
        <img src="" alt="">
      </a>
      <a href="#">
        Jacin
        <img src="" alt="">
      </a>
    </p>
  </div>
  
  <div class="nerdherd">
    <p>A Nerdherd Pte. Ltd. event
      <br> 
      <a href="#">Terms and Conditions</a>
      <br>
      <a href="#">Code of conduct</a>
    </p>
  </div>

  <div class="c-designed">
    Site design and developed by <a href="http://zell-weekeat.com" target="_blank">Zell Liew</a>
  </div>
</div>

