<nav class="c-footer__nav">
  <a href="index.html" class="{{#compare this.active "home"}}active{{/compare}}">Events</a>
  <a href="hotels.html" class="{{#compare this.active "hotels"}}active{{/compare}}">Hotels</a>
  <a href="community.html" class="{{#compare this.active "community"}}active{{/compare}}">Community</a>
  <a href="work.html" class="{{#compare this.active "work"}}active{{/compare}}">Work</a>
  <a href="sponsors.html" class="{{#compare this.active "sponsors"}}active{{/compare}}">Sponsors</a>
</nav>