<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Devfest Asia 2015 Singapore</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Sue+Ellen+Francisco|Vollkorn:400italic,700italic' rel='stylesheet' type='text/css'>
  <!-- build:css css/styles.min.css -->
  <link rel="stylesheet" href="css/styles.css">
  <!-- endbuild -->

  <!--build:js js/head.min.js -->
  <!--endbuild -->
</head>
<body>
  