<header class="c-site-header">
  <div class="wrap--header c-canvas__fixed-item">
    <div class="flex">
      <div class="c-logo">
        <div class="o-cursive c-logo__devfest"><a href="index.html">Devfest.Asia</a></div>
      </div>

      <button class="c-canvas-toggle jsCanvasToggle"> <span>Explore</span> <img class="i-menu jsSvgInject"src="images/menu.svg" alt=""></button>

      <nav class="c-nav">
        <a href="index.html" class="{{#compare this.active "home"}}active{{/compare}}">Events</a>
        <a href="hotels.html" class="{{#compare this.active "hotels"}}active{{/compare}}">Staying in SG</a>
        <a href="community.html" class="{{#compare this.active "community"}}active{{/compare}}">Developer Community</a>
        {{!-- <a href="work.html" class="{{#compare this.active "work"}}active{{/compare}}">Working in SG</a> --}}
        <a href="sponsors.html" class="{{#compare this.active "sponsors"}}active{{/compare}}">Sponsors</a>
      </nav>
    </div>
  </div>
</header>
