<div class="wrap--header">
  <header>
    <div class="c-logo">
      <div class="o-cursive c-logo__devfest">Devfest.Asia</div>
      <div class="o-cursive c-logo__2015">(2015)</div>
    </div>

    <button class="c-canvas-toggle jsCanvasToggle"> <span>Menu</span> <img class="i-menu jsSvgInject"src="images/menu.svg" alt=""> </button>

    <nav class="c-nav">
      <a href="#">Events</a>
      <a href="#">Venues</a>
      <a href="#">Staying in SG</a>
      <a href="#">Developer Community</a>
      <a href="#">Working in SG</a>
      <a href="#">Sponsors</a>
    </nav>
  </header>
</div>