<header class="c-site-header--main">
  <div class="wrap--header c-canvas__fixed-item">
    <div class="flex">
      <div class="c-logo">
        <div class="o-cursive c-logo__devfest"><a href="index.html">Devfest.Asia</a></div>
      </div>

      <button class="c-canvas-toggle jsCanvasToggle"> <span>Explore</span> <img class="i-menu jsSvgInject"src="images/menu.svg" alt=""></button>

      <nav class="c-nav">
        {{> _nav-links }}
      </nav>
    </div>
  </div>
</header>
