<div class="c-hero" style="background-image: url('images/hero-4.jpg');">
  <div class="wrap">
    <div class="c-hero__intro">
      <div class="c-logo--hero">
        <div class="o-cursive c-logo__singapore">Singapore</div>
        <div class="o-cursive c-logo__devfest">Devfest.Asia</div>
        <div class="o-cursive c-logo__2015">2015</div>
      </div>
      <h3 class="c-hero__subtitle">Southeast Asia's first community organized web developer festival</h3>
      <p>November 7th - 21st, 2015</p>
    </div>

    <!--<div class="c-hero__sponsors">
      <h4>Main Sponsor</h4>
      <img src="{{sponsors.0.logo}}" alt="">
    </div>//-->
  </div>
</div>
