{{!-- Social Icons --}}
<div class="social">
  <a href="http://facebook.com/devfestasia" class="social__icon">Facebook
    {{!-- <img src="images/facebook.png"> --}}
  </a>
  <a href="http://twitter.com/devfestasia" class="social__icon">
    Twitter
    {{!-- <img src="images/twitter.png"> --}}
  </a>
</div>