{{#sponsors}}
  {{#each main}}
    <img src="{{logo}}" alt="{{name}}">
  {{/each}}
  <h2 class="o-italic">The Supporters</h2>
  {{#each supporters}}
    <img src="{{logo}}" alt="{{name}}">
  {{/each}}
{{/sponsors}}
