{{#sponsors}}
  <h3 class="c-event__title">Main Sponsor</h3>
  {{#each main}}
    <img src="{{logo}}" alt="{{name}}">
  {{/each}}
  <h3 class="c-event__title">The Supporters</h3>
  {{#each supporters}}
    <img src="{{logo}}" alt="{{name}}">
  {{/each}}
{{/sponsors}}
