{{> _head }}

<div class="c-canvas jsCanvasContainer">
  <div class="c-canvas__off-canvas jsOffCanvas">
    {{> _mobile-menu}}
  </div>
  <div class="c-canvas__on-canvas jsOnCanvas community">
    {{> _header }}

    {{!-- <div class="c-hero--community" style="background-image: url('images/community.jpg');"></div> --}}

    <div class="l-content c-toc c-article">
      <section>
        <div class="wrap">
          <article>
            <h1 class="o-italic">All you need to know about your arrival in Singapore</h1>
            <h2>1. Getting into Singapore</h2>
            <p>Singapore has only one airport &mdash; <a href="http://www.changiairport.com">Changi Airport</a>. Make sure you head to the correct airport!</p>

            <p>You can get to the city from Changi Airport either by Bus, MRT (trains) or Taxi. Changi Airport has a MRT Station at Terminal 2.</p>

            <h2>2. Getting around Singapore </h2>

            <p>Public transport (MRT and buses) in Singapore is excellent, and it should probably be your first choice.</p>

            <h3>MRT and Buses</h3>

            <p>Singapore's public transport system runs on a reloadable contactless card called <a href="http://www.ezlink.com.sg">EZ-Link</a>. You can get an EZ-link card either from transit-link office in Changi Airport, or from convenience stores like 7-Eleven.</p>

            <p>Singapore also has 1,2 and 3 day unlimited "Toursits passes". There's no need to buy these passes unless you plan on making more than four trips a day.</p>

            <p>You might find these two apps useful for helping you get around in Singapore: </p>

            <ol>
              <li>Google Maps (both <a href="https://itunes.apple.com/en/app/google-maps/id585027354?mt=8">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.maps&hl=en">Android</a>) &mdash; Tells you which bus or MRT to take to your destination.</li>
              <li>SG Buses (both <a href="https://itunes.apple.com/sg/app/sg-buses-singapore-public/id384353741?mt=8">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.iridianstudio.sgbuses&hl=en">Android</a>) &mdash; Tells you how long you have to wait before you next bus arrives.</li>
            </ol>

            <h3>Taxis</h3>

            <p>Taxis are great for going around Singapore if you have some spare cash. They're generally pricier compared to public transport, but can get you where you want to go quickly.</p>

            <p>You can either flag taxis from a Taxi stand, off the street, or call one using the following apps: </p>

            <ol>
              <li>Grab Taxi (both <a href="https://itunes.apple.com/sg/app/grabtaxi-book-a-ride/id647268330?mt=8">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.grabtaxi.passenger&hl=en">Android</a></li>
              <li>Uber (both <a href="https://itunes.apple.com/us/app/uber/id368677368?mt=8">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.ubercab&hl=en">Android</a>)</a></li>
            </ol>
            <p>Note: Taxis are pricier during peak hours. It can also be difficult to grab a taxi during on rainy days.</p>

            <h2>3. WIFI</h2>

            <p>Changi Airport has free WIFI. Use it!</p>
            <p>Singapore also has a wireless network called WIRELESS@SG that allows you to enjoy free WIFI all around Singapore. It requires you to have a local mobile number. You can <a href="https://mya.singnet.com.sg/wireless@sg_signup/onlineapplication.jsp?apptype=was&browser=web&tab=local">sign up here</a>. </p>

            <p>Otherwise, you can hang around at any McDonalds or Starbucks outlet to get your free WIFI. </p>

            <p>Here are some <a href="http://www.ladyironchef.com/2013/08/cafes-free-wifi-singapore/">café with free WIFI</a> if you're a café goer.</p>

            <h2>4. Power Sockets</h2>

            <p>Singapore uses the <a href="http://www.iec.ch/worldplugs/typeG.htm">British kind three-prong plug </a> (Type G, BS 1363 UK, 230-240V). Take note we're using 230V here. </p>

            <img src="images/plug.png" alt="Three prong plug">

            <p>You can also force the <a href="http://www.iec.ch/worldplugs/typeC.htm">two prong European Type C</a> into the socket, but it involves shoving a something small and non-metallic into the third hole. Avoid this one if possible.</p>

            <h2>5. Data SIM Cards (and mobile internet)</h2>

            <p>You can get a prepaid card from either M1, Singtel or Starhub. Try to look for one that offers you great data plans. Here are some choices:</p>

            <ol>
              <li><a href="https://www.m1.com.sg/PrepaidBroadband">M1 Prepaid Broadband Card</a></li>
              <li><a href="http://info.singtel.com/personal/phones-plans/mobile/prepaid/data-bundles#addons_data-plans">Singtel Hi card</a></li>
              <li><a href="http://www.starhub.com/personal/mobile/prepaid-plans/data-add-on-plans/prepaid-data-plan.html">Starhub prepaid data plan</a></li>
            </ol>

            <p>If you want to know more about Singapore, you can take a look at this <a href="https://github.com/rubysg/singapore">handy guide </a>made by <a href="http://ruby.sg">the Ruby community in Singapore</a>.</p>

            <p>That's it! Enjoy your trip around Singapore! Now, go find yourself a good accommodation!</p>

            <a href="hotels.html" class="o-btn">Head back to the hotels page</a>
          </article>
        </div>
      </section>
    </div>

    {{> _footer }}

  </div>


  {{> _foot }}

  ## MRT and Buses


