{{> _head }}

<div class="c-canvas jsCanvasContainer">
  <div class="c-canvas__off-canvas jsOffCanvas">
    Mobile Menu located here, but not styled yet
  </div>
  <div class="c-canvas__on-canvas jsOnCanvas">
    {{> _header }}

    <div class="l-content">
      <section>
        <div class="wrap">
          <div class="c-section-intro">
            <h1 class="o-italic">Developer Community in Singapore</h1>
          </div>

          <article class="c-generic">
            <p class="desc">{{community.desc}}</p>
            <ul>
              {{#each community.list}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </article>
        </div>
      </section>
    </div>

  {{> _footer }}

  </div>
</div>



{{> _foot }}

