{{> _head }}

<div class="c-canvas jsCanvasContainer">
  <div class="c-canvas__off-canvas jsOffCanvas">
    {{> _mobile-menu active="hotels"}}
  </div>
  <div class="c-canvas__on-canvas jsOnCanvas">

    {{> _header active="hotels" }}

    <div class="l-content">
      <section>
        <div class="wrap">
          <div class="c-section-intro">
            <h1 class="o-italic">Staying in Singapore</h1>
            <p>All our events are going to be around the CBD and Chinatown area, so here are some hotels and hostels we recommed.</p>
          </div>
          <div class="c-hotels l-hotels">
            <div class="c-hotel l-hotel">
              <h2 class="o-block__title c-hotel__title">AMOY</h2> 
              <div class="c-hotel-carousel">
                <div style="background-image:url('images/amoy-1.jpg')"></div>
              </div>

              <div id="TA_selfserveprop596" class="TA_selfserveprop">
                <ul id="OKSRksr8fX" class="TA_links ovkrHQeeRTE">
                  <li id="D6NEbsXU5cX" class="3N8OLlsvrY">
                    <a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
                  </li>
                </ul>
              </div>
              <script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=596&amp;locationId=4341475&amp;lang=en_US&amp;rating=true&amp;nreviews=3&amp;writereviewlink=false&amp;popIdx=true&amp;iswide=true&amp;border=false&amp;display_version=2"></script>

              <div class="c-hotel__cta">
                <a href="http://www.agoda.com/amoy-by-far-east-hospitality/hotel/singapore-sg.html?asq=mbtnRq82z%2bseDpxq%2bleSn7QRBsidwx7HfcJYwTm6TkNuzXvBOYos5GpN9lR%2bMUAGAIZBnUKgfBXUPpBEYNsioziWlIYT3mEwh1muOT0WEd1p7JAa7%2b2KJ%2bjXs%2bcZ1doVqr50870ikBXHl2yRlxmUG8Gwi7dUynPU7boBM69ghe21Mb3r%2blIGoai%2bGweaSwDE%2bHr%2bBB53AjxfC6KtqmAgvHneJi9rVA%2fMY%2b03zNK5YM1Yff9zXX6KPWc7q8QGLFArjHxRWESKAbgXG7Fcvdd%2f%2bXdiNtPLzZRP2R1A4geWTARvjOMupaXb6d%2bB%2bnBR3X8Zfla2fgpqIbyCBQ9kbgmqfY%2bHXl%2bbDHXoh%2fm%2fnIICWOMi0KgLYucZyWnJkTS6EnRxm7Y55EV20NCJABlMt8257ebGlhoC041zRmeMZl%2fG1AQ%3d" class="o-btn">Book a room at AMOY</a>
              </div>
            </div>

            <div class="c-hotel l-hotel">
              <h2 class="o-block__title c-hotel__title">Quincy</h2> 
              <div class="c-hotel-carousel">
                <div style="background-image:url('images/amoy-1.jpg')"></div>
              </div>       

              <div id="TA_selfserveprop451" class="TA_selfserveprop">
                <ul id="vWOXQjgmlR" class="TA_links vZSxisqSE">
                  <li id="xSWuYG" class="r4ZVN9rbPQ3K">
                    <a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
                  </li>
                </ul>
              </div>
              <script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=451&amp;locationId=1235512&amp;lang=en_US&amp;rating=true&amp;nreviews=3&amp;writereviewlink=false&amp;popIdx=true&amp;iswide=true&amp;border=false&amp;display_version=2"></script>

              <div class="c-hotel__cta">
                <a href="http://www.agoda.com/amoy-by-far-east-hospitality/hotel/singapore-sg.html?asq=mbtnRq82z%2bseDpxq%2bleSn7QRBsidwx7HfcJYwTm6TkNuzXvBOYos5GpN9lR%2bMUAGAIZBnUKgfBXUPpBEYNsioziWlIYT3mEwh1muOT0WEd1p7JAa7%2b2KJ%2bjXs%2bcZ1doVqr50870ikBXHl2yRlxmUG8Gwi7dUynPU7boBM69ghe21Mb3r%2blIGoai%2bGweaSwDE%2bHr%2bBB53AjxfC6KtqmAgvHneJi9rVA%2fMY%2b03zNK5YM1Yff9zXX6KPWc7q8QGLFArjHxRWESKAbgXG7Fcvdd%2f%2bXdiNtPLzZRP2R1A4geWTARvjOMupaXb6d%2bB%2bnBR3X8Zfla2fgpqIbyCBQ9kbgmqfY%2bHXl%2bbDHXoh%2fm%2fnIICWOMi0KgLYucZyWnJkTS6EnRxm7Y55EV20NCJABlMt8257ebGlhoC041zRmeMZl%2fG1AQ%3d" class="o-btn">Book a room at Quincy</a>
              </div>

            </div>

            <div class="c-hotel l-hotel">
             <h2 class="o-block__title c-hotel__title">Marina Bay Sands </h2> 
             <div class="c-hotel-carousel">
              <div style="background-image:url('images/amoy-1.jpg')"></div>
            </div>        

            <div id="TA_selfserveprop311" class="TA_selfserveprop">
              <ul id="duHcUxi3Uh" class="TA_links 7dIILTVFWcP">
                <li id="jTsIHQfgQ" class="dKgM9ult">
                  <a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
                </li>
              </ul>
            </div>
            <script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=311&amp;locationId=1770798&amp;lang=en_US&amp;rating=true&amp;nreviews=3&amp;writereviewlink=false&amp;popIdx=true&amp;iswide=true&amp;border=false&amp;display_version=2"></script>

            <div class="c-hotel__cta">
              <a href="http://www.agoda.com/amoy-by-far-east-hospitality/hotel/singapore-sg.html?asq=mbtnRq82z%2bseDpxq%2bleSn7QRBsidwx7HfcJYwTm6TkNuzXvBOYos5GpN9lR%2bMUAGAIZBnUKgfBXUPpBEYNsioziWlIYT3mEwh1muOT0WEd1p7JAa7%2b2KJ%2bjXs%2bcZ1doVqr50870ikBXHl2yRlxmUG8Gwi7dUynPU7boBM69ghe21Mb3r%2blIGoai%2bGweaSwDE%2bHr%2bBB53AjxfC6KtqmAgvHneJi9rVA%2fMY%2b03zNK5YM1Yff9zXX6KPWc7q8QGLFArjHxRWESKAbgXG7Fcvdd%2f%2bXdiNtPLzZRP2R1A4geWTARvjOMupaXb6d%2bB%2bnBR3X8Zfla2fgpqIbyCBQ9kbgmqfY%2bHXl%2bbDHXoh%2fm%2fnIICWOMi0KgLYucZyWnJkTS6EnRxm7Y55EV20NCJABlMt8257ebGlhoC041zRmeMZl%2fG1AQ%3d" class="o-btn">Book a room at Marina Bay Sands</a>
            </div>
          </div>
        </div>
      </section>
      <section class="c-interrupt-2">
        <div class="wrap">
          <h1 class="o-italic">And to help you with choosing a venue</h1>
          <p>Here's the location of all Devfest events in Singapore</p>
          <a href="#" class="o-btn">See Venue location</a>
        </div>
      </section>
      {{> _footer }}
    </div>
  </div>
</div>



{{> _foot }}

