{{> _head }}

<div class="c-canvas jsCanvasContainer">
  <div class="c-canvas__off-canvas jsOffCanvas">
    {{> _mobile-menu active="home"}}
  </div>
  <div class="c-canvas__on-canvas jsOnCanvas">

    {{> _header-main }}

    {{> _hero }}

    {{> _events-header }}
    <div id="content" class="l-content">
      {{> _events }}
    </div>

    <div class="c-sponsors l-sponsors c-interrupt-2">
      <div class="wrap">
        <h1 class="o-italic">Here are our awesome sponsors!</h1>
      </div>
      {{> _sponsors }}

      <div class="wrap">
        <p> Interested to be part of DevFest.Asia? 
          <br>
          <a href="mailto:sponsors@DevFest.Asia?subject=Devfest Sponsorship" class="o-btn">Be a sponsor!</a>
        </p>
      </div>
    </div>

    {{> _footer }}


  </div>

  {{> _foot }}

