{{> _head }}

<div class="c-canvas jsCanvasContainer">
  <div class="c-canvas__off-canvas jsOffCanvas">
    Mobile Menu located here, but not styled yet
  </div>
  <div class="c-canvas__on-canvas jsOnCanvas">

    {{!-- {{> _header }} --}}

    {{!-- {{> _hero }} --}}


    {{> _events-header }}
{{!--     <div class="l-content">
      {{> _events }}
    </div> --}}

    
    {{!-- {{> _footer }} --}}

    <div class="site-footer">

      - Repeat devfest asia logo

      <div class="c-logo--hero">
        <div class="o-cursive c-logo__singapore">Singapore</div>
        <div class="o-cursive c-logo__devfest">Devfest.Asia</div>
        <div class="o-cursive c-logo__2015">2015</div>
      </div>

      <div class="sponsors">
        3 - 4 big sponsors 
      </div>    

      <h2>Want to contribute?</h2>
      - Sponsor interest? 
      - List my event     

      <h5>Brought to you by</h5>

      - Whos involved (Organizing it)

      <p>A Nerdherd Pte. Ltd. event <br> 
        <a href="#">Terms and Conditions</a>
      <a href="#">Code of conduct</a>
      </p>

    </div>

  </div>

  {{> _foot }}

