{{> _head }}

<div class="c-canvas jsCanvasContainer">
  <div class="c-canvas__off-canvas jsOffCanvas">
    Mobile Menu located here, but not styled yet
  </div>
  <div class="c-canvas__on-canvas jsOnCanvas">

    {{> _header }}

    {{> _hero }}

  <div class="l-content">
    {{> _events }}
  </div>

  <div class="footer">
    Footer area. Credits + SG 50 here. 
  </div>
</div>



{{> _foot }}