{{> _head }}

<div class="c-canvas jsCanvasContainer">
  <div class="c-canvas__off-canvas jsOffCanvas">
    {{> _mobile-menu active="home"}}
  </div>
  <div class="c-canvas__on-canvas jsOnCanvas">

    {{> _header-main }}

    {{> _hero }}

    {{> _events-header }}
    <div id="content-hash" class="l-content">
      {{> _events }}
    </div>

    <div class="c-sponsors l-sponsors c-interrupt-2">
      <div class="wrap">
        <h1 class="o-italic">Here are our awesome sponsors!</h1>
      </div>
      {{> _sponsors }}

      <div class="wrap">
        <p> Interested to be part of DevFest.Asia?
          <br>
          <a href="mailto:sponsors@DevFest.Asia?subject=Devfest Sponsorship" class="o-btn">Be a sponsor!</a>
        </p>
      </div>
    </div>

    {{> _footer }}


  </div>

  {{> _foot }}

  <a href="https://jsconfasia.wufoo.com/forms/devfestasia-2016-list-my-event/" id="thisyear" style="-webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; transition: all 1s ease-out; border-left: 10px solid #288ae2; z-index: 99999; position: fixed; color: black; text-decoration: none; bottom: 40px; right: -450px; width: 370px; padding: 20px 30px; background: rgba(255,255,255,0.95); box-shadow: 3px 3px 5px rba(0,0,0,0.5);">
        <b>DevFest.Asia is back again this year!</b>
        Want to register your event?
  </a>


  <script>
  setTimeout(function() {
      $('#thisyear').addClass('loaded');
    }, 4000);

  </script>
  <style> #thisyear.loaded { right: 0px !important; } </style>
