{{> _head }}
<div class="c-canvas jsCanvasContainer">
  <div class="c-canvas__off-canvas jsOffCanvas">
    {{> _mobile-menu active="sponsors"}}
  </div>
  <div class="c-canvas__on-canvas jsOnCanvas">
    {{> _header active="sponsors" }}
    <div class="l-content">
      <section class="c-quote">
        <div class="wrap">
          <div class="c-quote__message">
            <div class="p">
              <p>With more than a thousand web developers attending more than 15 events over ten days this year DevFest.Asia will be the center of the regional developer community.
              </p>
              <p>It’s going to be an unforgettable experience for attendees as well as a stepping stone into Southeast Asia’s diverse talent pool for entrepreneurs and enterprise. We need amazing companies to be part of it!</p>
            </div>
          </div>
          <div class="c-quote__author">
            <div class="c-quote__image" style="background-image: url('images/thomas.jpg')"> </div>
            <div class="c-quote__person">
              <h4>Thomas Gorissen</h4>
              <span>Devfest.Asia organizer</span>
            </div>
          </div>
        </div>
      </section>
      <section id="sponsors">
        <div class="wrap">
          <div class="c-community-intro">
            <h1 class="o-italic">Here are our awesome sponsors!</h1>
          </div>
        </div>
        {{> _sponsors }}
      </section>
      <section>
        <div class="wrap">
          <div class="c-section-intro">
            <p>
              Interested to be part of Devfest.Asia?
            </p>
            <div>
              <a href="mailto:sponsors@devfest.asia?subject=Devfest Sponsorship" class="o-btn">Be a sponsor</a>
              <p>
                <small>
                  <a href="https://docs.google.com/a/jsconf.asia/uc?id=0BzQ1Dd6_7STXWkRqRXUtWHhKZVk&export=download">See the sponsorship menu</a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    {{> _footer }}
  </div>
</div>
{{> _foot }}
