{{> _head }}

<div class="c-canvas jsCanvasContainer">
  <div class="c-canvas__off-canvas jsOffCanvas">
    {{> _mobile-menu active="sponsors"}}
  </div>
  <div class="c-canvas__on-canvas jsOnCanvas">
    {{> _header active="sponsors" }}

    <div class="l-content">
      <section>
        <div class="wrap">
          <div class="c-section-intro">
            <h1 class="o-italic">Can you sponsor Devfest?</h1>
            <p>We're making Devfest much better this year! We're expecting more than 1500 developers from all across SEA (we had 1200 last year) to attend the free and paid meetups, conferences, workshops and parties. </p>

            <p>
              Your sponsorship monies used by our community to create better and more events, workshops or parties! 
            </p>

            <p>
              Besides, you can also get access to talent, share job opportunities and gain exposure for your company and your product. 
            </p>

            <p>
              If you're interested in sponsoring Devfest, no matter how big or small your amount is, please click on the button and email us! 
            </p>
            <div>
              <a href="mailto:sponsors@devfest.asia?subject=Devfest Sponsorship" class="o-btn" >Sponsor devfest</a>
            </div>
          </div>
        </div>
      </section>

      <section class="c-sponsors">
        <div class="wrap">
          <h1 class="o-italic">Here are our awesome sponsors!</h1>
          {{> _sponsors }}
          <p>Interested to be part of Devfest? </p>
          <div><a href="mailto:sponsors@devfest.asia?subject=Devfest Sponsorship" class="o-btn">Be a sponsor!</a></div>
        </div>
      </section>
    </div>
    {{> _footer }}
  </div>
</div>



{{> _foot }}

